/* src/css/spreadsheet.css */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    margin: 2rem 10rem 2rem 10rem;
    border: #A7A7A7 1px solid;
    color: #040519;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inner {
    background: #F2F2F2;
    border: #C5C5C5 1px solid;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

/* Summary Row */
#summary-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#summary-row > div {
    flex: 1;
}

#summary-row > div label {
    color: #979797;
    margin-bottom: 0.25rem;
}

#summary-row > div p {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

/* Header */
header {
    margin: 0;
    padding: 1rem;
    background: #040519;
}

header h1 {
    font-size: 3rem;
    color: #F8F8F8;
}

header .subtitle {
    font-size: 1.25rem;
    color: #F8F8F8;
}

/* Table */
table {
    border-collapse: collapse;
}

thead tr, .student-name {
    background: #D0D0D0;
    font-weight: bold;
}

tr {
    text-align: center;
    background: #F8F8F8;
}

td {
    position: relative;
}

#edit-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: #C5C5C5 1px solid;
}

.selected {
    background: #e0e0ff;
}

.clickable:hover {
    cursor: pointer;
    background: #dfdfdf;
}

/* Graph */
.bar {
    fill: #040519;
}

.axis text {
    font-size: 0.75rem;
    fill: #333333;
}


/* Media Queries */
@media (max-width: 1000px) {
    section {
        margin: 2rem 1rem 2rem 1rem;
    }
}